body {
background-color:antiquewhite;
background-image: url(./recipes/img/leaves-pattern.png);
color: rgb(0, 0, 0);
font-family: sans-serif;
font-size: 20px;
text-align: left;
margin-left: 450px;
}

h1{
    font-size: 70px; 
    color: rgb(117, 2, 2);
    font-family:sans-serif;
}

h2 {
    font-size: 40px; 
    color: black;
    font-family:sans-serif;     
}


span{
    font-weight: bold;
}


ol {
    padding-left: 0;
    list-style-position: inside;
}

ul {
    padding-left: 0;
    list-style-position: inside;
   
}

div{
    width: 900px;
}

img {
    width: 900px;
}

#Homepage {
    text-align: center;
    margin-left: 0;
}
/* the CSS box model */

